---
import Layout from '../layouts/Layout.astro';
import Hero from '../sections/Hero.astro';
import Feature from '../sections/Feature.astro';
import Creations from '../sections/Creations.astro';
import Footer from '../sections/Footer.astro';
import './../styles/global.css';
---

<Layout title="Welcome to Loopstudios.">
	<main class="bg-white dark:bg-black">
		<Hero />
		<Feature />
		<Creations />
		<Footer />
	</main>
</Layout>

