---
type NavElements = {
  name: string;
  href: string;
};

const navElements: NavElements[] = [
  { name: "About", href: "#" },
  { name: "Careers", href: "#" },
  { name: "Events", href: "#" },
  { name: "Products", href: "#" },
  { name: "Support", href: "#" },
];
---

<section id="hero">
  <div class="container max-w-6xl mx-auto px-6 py-12">
    <nav class="flex items-center justify-between font-bold text-white">
      <img src="/logo.svg" alt="" />
      <div class="hidden h-10 font-alata md:flex md:space-x-8">
        {
          navElements.map((element) => (
            <div class="group">
              <a href={element.href}>{element.name}</a>
              <div class="mx-2 group-hover:border-b group-hover:border-blue-50" />
            </div>
          ))
        }
      </div>
      <div class="md:hidden">
        <button
          id="menu-btn"
          type="button"
          class="z-40 block hamburger md:hidden focus:outline-none"
        >
          <span class="hamburger-top"></span>
          <span class="hamburger-middle"></span>
          <span class="hamburger-bottom"></span>
        </button>
      </div>
    </nav>
    <div
      id="menu"
      class="absolute top-0 bottom-0 left-0 hidden flex-col self-end w-full min-h-screen py-1 pt-40 pl-12 space-y-3 text-lg text-white uppercase bg-black"
    >
      {
        navElements.map((element) => (
          <a href={element.href} class="hover:text-pink-500">
            {element.name}
          </a>
        ))
      }
    </div>
    <div
      class="max-w-lg mt-32 mb-32 p-4 font-sans text-4xl text-white uppercase border-2 md:p-10 md:m-32 md:mx-0 md:text-6xl"
    >
      Impressive Experiences That Deliver
    </div>
  </div>
</section>

<script>
  const btn = document.getElementById("menu-btn");
  const menu = document.getElementById("menu");
  if (btn) {
    btn.addEventListener("click", navToggle);
  }
  function navToggle() {
    if (btn) {
      btn.classList.toggle("open");
    }
    if (menu) {
      menu.classList.toggle("flex");
      menu.classList.toggle("hidden");
    }
  }
</script>
